<h1>BANDA TRANSPORTADORA</h1>
<div class="content">
    <div class="text-section">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pharetra, ipsum at malesuada malesuada,
            nulla enim aliquet lacus, id tincidunt purus ligula eu arcu. Sed id volutpat lectus. Vivamus a nibh
            eget est feugiat congue. Vestibulum et risus rhoncus, aliquet nibh vel, finibus odio. Pellentesque eu
            ex vel mauris tincidunt luctus. Sed ac justo ac velit consequat fermentum. Ut vitae nunc massa. In hac
            habitasse platea dictumst. Phasellus elementum risus eu mi pellentesque, vel venenatis arcu
            ullamcorper. In hac habitasse platea dictumst. Fusce luctus, nunc nec congue elementum, risus justo
            suscipit nunc, eu vehicula arcu enim ut lectus. Nulla bibendum dui quis feugiat ultrices. Cras ornare
            euismod tortor, eu dictum purus cursus a. Nullam vel purus eget nisl venenatis viverra.
        </p>
    </div>
    <div class="image-section">
        <img src="ruta-de-la-imagen1.jpg" alt="BANDA TRANSPORTADORA">
        <img src="../../assets/images/grupo.jpg" alt="GRUPO">
    </div>
</div>
<h1>Uso de Sensores</h1>
    <div class="container">
        <div class="column">
            <h2>Sensor TCS3200</h2>
            <img src="../../assets/images/tcs.png" alt="TCS3200">
            <p>
                El sensor TCS3200 es un sensor de color que puede detectar una 
                amplia gama de colores. Funciona emitiendo luz a través de una lente 
                y luego recogiendo la luz reflejada por el objeto. El sensor tiene 
                una matriz de fotodiodos que convierten la luz en corriente eléctrica.
            </p>
            <h2>ESP32</h2>
            <img src="../../assets/images/esp32.png" alt="ESP32">
            <p>
                El ESP32 es un microcontrolador de bajo costo 
                y bajo consumo de energía que se utiliza comúnmente 
                en proyectos de IoT (Internet de las cosas). 
                Es altamente versátil y tiene capacidades de conectividad Wi-Fi y 
                Bluetooth, lo que lo convierte en una opción popular para proyectos 
                inalámbricos.
            </p>
        </div>
        <div class="column">
            <h2>Arduino</h2>
            <img src="../../assets/images/arduino.png" alt="Arduino">
            <p>
                Arduino es una plataforma de código abierto que consta de hardware
                 y software. Es muy utilizada en el ámbito de la electrónica y la 
                 robótica para crear proyectos interactivos. El lenguaje de programación 
                 utilizado en Arduino es una variante de C/C++.
            </p>
            <h2>Sensor Ultrasónico</h2>
            <img src="../../assets/images/ultrasonico.png" alt="Sensor Ultrasónico">
            <p>
                Un sensor ultrasónico utiliza ondas de sonido de alta frecuencia 
                para medir distancias. Emite un pulso de sonido y mide el tiempo 
                que tarda en recibir el eco reflejado desde un objeto. Con esta 
                información, se puede calcular la distancia entre el sensor y el objeto.
            </p>
        </div>
    </div>
    <br>
    <br>
    <h1>SERVICIO WEB</h1>
    <div class="contenedor">
        <div class="framework-section">
            <h2>Angular</h2>
            <img src="../../assets/images/angular.png" alt="Angular">
            <p>
                Angular es un framework de desarrollo de aplicaciones web de código abierto y mantenido por Google.
                Permite crear aplicaciones web dinámicas y de una sola página (SPA) con una estructura modular.
                Angular utiliza TypeScript como lenguaje de programación y ofrece una amplia gama de características,
                como enlace de datos bidireccional, inyección de dependencias y manejo de rutas.
            </p>
        </div>
        <div class="framework-section">
            <h2>Express</h2>
            <img src="../../assets/images/express.png" alt="Express">
            <p>
                Express es un framework de desarrollo web para Node.js que se utiliza para construir aplicaciones web
                y APIs de forma rápida y sencilla. Es minimalista y flexible, lo que permite a los desarrolladores
                crear servidores con facilidad. Express proporciona una variedad de herramientas y middleware para
                gestionar solicitudes HTTP, manejar rutas y realizar otras tareas comunes en el desarrollo web.
            </p>
        </div>
    </div>